<h1>Добро пожаловать</h1>

<p>Здесь только лучшие курсы</p>

<section class="dummy" data-app-component="dummy">
  <div class="dummy__container">
    <h2 class="dummy__title">Here only the best courses</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi corporis culpa debitis delectus dicta distinctio eligendi explicabo facere ipsa, ipsam nam nesciunt pariatur quisquam ratione reprehenderit, repudiandae sapiente, temporibus vel.</p>
    <p>Приложение курсов</p>
    <div class="dummy__picture">
    </div>
    <div>
      <img src="/assets/images/webpack.png" alt="">
      <img src="/assets/images/svg/webpack.svg" alt="">
    </div>
  </div>
</section>
